<!--This partial has Contact page contents 
File Name: contact.ejs 
Name: Vaishali Siddeshwar
Student ID: 301172372
Date: Feb-10-2021
-->

 <!-- render a fixed header content. This has 
non-UI elements. This contains only <head> tags
--> 
<%- include partials/header.ejs %>

 <!-- render a fixed navigation content for all HTTP requests.--> 
<%- include partials/main_nav.ejs %>

<section class="contact-area">
    <div class="container">
        <h2 class="text-uppercase pt-5">
            <span> Get In Touch </span>
        </h2>
        <hr>
        <div class="row animated fadeIn">
            <div class="col-sm-3">
                <div class="paragraph">
                    <p>If you wanna talk to me about a project or just say hi,
                        fill up the below form and let's talk.</p>
                                            
                            <form action="/home">
                                <button type="submit" formaction="/home" value="redirectHome"
                                    class="btn btn-primary btn-dark">Home</button>
                            </form>
                        
                </div>
            </div>
            <div class="col-sm-8">
                <div class="container">
                <% if (entered_name.length> 0 ) { %>
                        <h6 style="color: green;">
                            Thank you <%= entered_name %> for reaching out. I will get back to you in 2 days.
                        </h6>
                        <% } %>
                    <form class="form" method="POST" autocomplete="off">
                        <div class="col-7 formrow">
                            <input type="text" placeholder="Name" class="form-control" name="inputname" required />
        
                        </div>
                        <div class="col-7 formrow">
        
                            <input type="email" placeholder="Email address" class="form-control" name="inputemail"
                                aria-describedby="emailHelp" required />
        
                        </div>
                        <div class="col-7 formrow">
        
                            <input type="text" placeholder="Subject" class="form-control" name="inputsubject" required />
        
                        </div>
                        <div class="col-7 formrow">
        
                            <textarea placeholder="Message" class="form-control" name="inputmessage" rows="3"
                                required></textarea>
        
                        </div>
        
                        <div class="col-7 text-center">
                            <button type="submit" formaction="/contact" value="displayMessage"
                                class="btn btn-primary btn-dark">Get in Touch</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>      
</section>

<!-- render a copyright content for all requests.--> 
<%- include partials/bottom_nav.ejs %>

<!-- This contains non-UI elements. But closing of body and html tags.--> 
<%- include partials/header.ejs %>